
@{
    ViewBag.Title = "XacNhanDonHang";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

<h1 style="color:red;"><i>Xác nhận đơn hàng</i></h1>
<p>Đơn hàng của quý khách đã được chúng tôi ghi nhận! Chúng tôi sẽ liên hệ quý khách trong thời gian sớm nhất và giao hàng đến quý khách</p>
<p><a href="@Url.Action("showALLSanPham","QLBanGiay")" class="btn btn-primary">Trở về trang chủ</a></p>
